body{
  height: 100vh;
  width: 100vw;
  margin: 0px;
  /* background-color: black; */
}

.landingPage{
  height: 100vh;
  width: 100vw;
  background-image: url('/public/hockeyRink.jpeg');
  background-size: cover;
  /* background-color: blue; */
  margin: 0;
}

.chart {
  height: 400px;
  width: 600px;
  border: 2px solid black;
}

.playerTable {
  width: 600px;
  border: 2px solid black;
}

th {
  text-decoration: underline;
}
td {
  text-align: center;
}

