.chart {
  height: 400px;
  width: 600px;
  border: 2px solid black;
}

.allPlayers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border: 1px  solid red;
}

#image-track{
  overflow-x: scroll;
}

#playerCard {
  border: 2px solid black;
  width: 100%;
  text-align: center;
}

.playerTable {
  width: 600px;
  border: 2px solid black;
}

th {
  text-decoration: underline;
}
td {
  text-align: center;
}

